h1 {
	font-size: 20vmin;
	text-align: center;
	margin-block-start: 30dvh;
}

h2 {
	font-size: 5.5vmin;
	text-align: center;
	margin-block-start: 5dvh;
}

p {
	font-size: 5vmin;
	text-align: center;
}

.button {
	font-family: "AvenirNextLTW02-Demi", sans-serif;
	padding: 0.5rem 1rem;
	text-decoration: none;
	border-radius: 2px;
	transition: var(--setting__transition--alpha);
	&.button--alpha {
		border: 1px solid var(--colour__red--100);
		background-color: var(--colour__red--100);
		color: var(--colour__white--100);
		&.has-icon:before {
			filter: invert(100);
		}
	}
	&.button--beta {
		border: 1px solid var(--colour__black--100);
		background-color: var(--colour__white--100);
		color: var(--colour__black--100);
	}
}
.has-icon {
	padding-left: 2rem !important;
	position: relative;
	display: inline-block;
	&:before {
		content: '';
		position: absolute;
		left: 0.75rem;
		top: calc(50% - 0.65rem);
		display: block;
		width: 1rem;
		height: 1rem;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		transition: var(--setting__transition--alpha);
	}
	&.icon--share:before {
		background-image: url(../media/images/icon-share.svg);
	}
	&.icon--video:before {
		background-image: url(../media/images/icon-video.svg);
	}
}

.button:hover {
	&.button--alpha {
		background-color: var(--colour__red--80);
		transition: var(--setting__transition--alpha);
	}
	&.button--beta {
		text-decoration: underline;
		background-color: var(--colour__black--100);
		color: var(--colour__white--100);
		transition: var(--setting__transition--alpha);
		&:before {
			filter: invert(100);
			transition: var(--setting__transition--alpha);
		}
	}
}

.icon-header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5% 5% 0;
	z-index: 5;
}

.content-wrap {
	position: relative;
	height: 100%;
}

.graph-container {
	position: relative;
}
.graph-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	transition: all ease-in-out 1s;
}

.graph-meta {
	padding: 5%;
	z-index: 8;
	> * {
		min-height: 20%;
		line-height: 1.2;
	}
}
