#s06 {

	height: 250vh;
	background-image: linear-gradient(243.18deg, var(--colour__teal--100) 0%, var(--colour__teal--60) 100%);
	background-repeat: none;
	background-size: cover;
	background-attachment: fixed;
	background-color: var(--colour__teal--100);
	.content01,
	.content02 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
	.content01 {
		opacity: 1;
		z-index: 5;
	}
	.content02 {
		opacity: 0;
		transition: opacity ease-in-out 1s;
		z-index: 4;
	}
	&.ip40 {
		.content01 {
			opacity: 0;
			transition: opacity ease-in-out 1s;
		}
		.content02 {
			opacity: 1;
			transition: opacity ease-in-out 1s;
		}
	}

	.shape01 {
		top: 0;
		left: 0;
		width: 40vw;
		height: 40vw;
		transform: rotate(-90deg) translateX(25vh);
		.ip30 & {
			transform: rotate(0deg);
		}
	}
	.shape02 {
		top: 0;
		right: 0;
		width: 40vw;
		height: 40vw;
		transform: rotate(-5deg) translate(0vw, 15vw);
		.ip30 & {
			transform: rotate(0deg) translate(0vw, 0vw);
		}
	}
	.shape03 {
		bottom: 0;
		left: 0;
		width: 60vw;
		height: 60vw;
		transform: rotate(20deg) translate(-10vw, 10vw);
		.ip30 & {
			transform: rotate(0deg) translate(0vw, 0vw);
		}
	}
	/* .content01 {
		z-index: 2;
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		top: 0;
		left: 0;
		> .bg {
			display: flex;
			width: 50vw;
			height: 50vh;
			background-color: var(--colour__purple--80);
			&.bg1 {
				border-bottom-right-radius: var(--setting__diamond-border-radius);
			}
			&.bg2 {
				border-bottom-left-radius: var(--setting__diamond-border-radius);
			}
			&.bg3 {
				border-top-right-radius: var(--setting__diamond-border-radius);
			}
			&.bg4 {
				border-top-left-radius: var(--setting__diamond-border-radius);
			}
		}
		
	}
	.content02 {
		z-index: 5;
		position: relative;
		.content {
			padding: 10%;
			height: 100vh;
			gap: 3vmin;
		}
	} */
} 