#s07 {

	height: 200vh;
	background-image: linear-gradient(243.18deg, var(--colour__purple--100) 0%, var(--colour__purple--60) 100%);
	background-repeat: none;
	background-size: cover;
	background-attachment: fixed;
	background-color: var(--colour__purple--100);

	.content01,
	.content02 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
	.content01 {
		opacity: 1;
		z-index: 2;
	}

	.content02 {
		opacity: 0;
		transition: opacity ease-in-out 1s;
		z-index: 1;
	}
	&.ip60 {
		.content01 {
			opacity: 0;
			transition: opacity ease-in-out 1s;
		}
		.content02 {
			opacity: 1;
			transition: opacity ease-in-out 1s;
		}
	}
	
	.shape01 {
		top: 3vw;
		left: 7vw;
		width: 20vw;
		height: 20vw;
		transform: rotate(7deg) translateY(5vh);
		filter: blur(2px);
		.ip60 & {
			transform: rotate(-3deg) translateY(5vh);
		}
	}
	.shape02 {
		top: -15vw;
		right: -10vw;
		width: 60vw;
		height: 60vw;
		transform: rotate(0deg);
		.ip60 & {
			transform: rotate(-10deg);
		}
	}
	.shape03 {
		bottom: 0;
		left: 0;
		width: 40vw;
		height: 40vw;
		transform: rotate(-25deg) translate(13vw, 13vw);
		filter: blur(1px);
		.ip60 & {
			transform: rotate(-19deg) translate(13vw, 13vw);
		}
	}
}