body {

	font-family: AvenirNextLTW02-Bold, sans-serif;
	width: 100dvw;
	height: 100dvh;
	line-height: 1.6;
	text-wrap: pretty;
	background-color: var(--colour__white);
	color: var(--colour__black--80);
	overflow-x: hidden;
	overflow-y: scroll;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
	transition: background-color linear 0.5s;
	background-size: cover;
	background-attachment: fixed;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: inherit;
		border-radius: 0;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 3px;
	}

}
