body {
	font-family: AvenirNextLTW02-Regular, sans-serif;
	width: 100dvw;
	height: 100dvh;
	line-height: 1.6;
	text-wrap: pretty;
	background-color: var(--color-back1);
	color: var(--color-fore1);
	overflow: hidden;
}
